Repository renovatebot/pgp: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint-cli2 --fix, prettier --write

.lintstagedrc.json:

{
  "*.md": ["markdownlint-cli2 --fix", "prettier --write"],
  "**/*.{ts,js,mjs,cjs}": ["prettier --write"],
  "!*.{cjs,js,mjs,md,ts}": "prettier --ignore-unknown --write"
}

ci: use github reporter for test results
  vitest.config.js
Due: prettier --write

ci: cleanup
  .github/workflows/build.yml
Due: none

fix: migrate
  index.js
  test/teavm/decrypt-wasm.spec.ts
  tools/patch-build.js
Due: prettier --write

fix(java): cleanup classlib
  tools/teavm-plugin/src/main/java/com/github/renovatebot/teavm/Plugin.java
  tools/teavm-plugin/src/main/java/com/github/renovatebot/teavm/classlib/FileInputStreamSubstitude.java
  tools/teavm-plugin/src/main/java/com/github/renovatebot/teavm/classlib/NopLogger.java
  tools/teavm-plugin/src/main/java/com/github/renovatebot/teavm/classlib/NopLoggerFactory.java
  tools/teavm-plugin/src/main/java/com/github/renovatebot/teavm/classlib/NopLoggerFactorySubstitution.java
  tools/teavm-plugin/src/main/java/com/github/renovatebot/teavm/classlib/RuntimeSubstitude.java
  tools/teavm-plugin/src/main/java/com/github/renovatebot/teavm/transformer/CoreTransformer.java
  tools/teavm-plugin/src/main/java/com/github/renovatebot/teavm/transformer/Slf4jLoggerFactoryTransformer.java
  tools/teavm-plugin/src/main/java/com/github/renovatebot/teavm/transformer/classlib/CharsetSubstitude.java
Due: none

Notes added by 'git notes add'
  4ae9dab2bdced9559d20287a19bad4b1af7c80e8
Due: none

fix: use amor stream directly
  dotnet/Program.cs
  lib/src/main/java/com/github/renovatebot/Main.java
Due: none

test: update wasm-java test
  package.json
  test/teavm/wasm.js
Due: prettier --write

Notes added by 'git notes add'
  4011b2437c19d46b8ae4d2a37bed32d88a26801d
Due: none

test: add browser test
  gradle.properties
  settings.gradle.kts
  test/teavm/build.gradle.kts
  test/teavm/src/teavm/java/com/github/renovatebot/Test.java
  test/teavm/src/teavm/webapp/index.html
  test/teavm/src/teavm/webapp/main.js
Due: prettier --write

fix: enable shared memory
  index.js
  lib/build.gradle.kts
Due: prettier --write

build: fix paths
  lib/src/teavm/java/com/github/renovatebot/Main.java
  test/teavm/src/main/webapp/index.html
  test/teavm/src/main/webapp/main.js
Due: prettier --write

Notes added by 'git notes add'
  dc56d1d39395fb455eb28457906779e1b23375fd
Due: none

build: cleanup
  lib/build.gradle.kts
  lib/src/main/java/com/github/renovatebot/Main.java
Due: none

chore: add benchmark
  .github/workflows/build.yml
  package.json
  pnpm-lock.yaml
  test/test.bench.ts
Due: prettier --write

ci: fix wrong command
  .github/workflows/build.yml
Due: none

fix(wasm-java): don't import memory and path filename
  index.js
  lib/build.gradle.kts
Due: prettier --write

test: remove timeout
  .gitignore
  test/teavm/wasm.js
Due: prettier --write

fix: drop unused options
  index.js
Due: prettier --write

chore: drop obsolete test project
  gradle.properties
  settings.gradle.kts
  test/teavm/build.gradle.kts
  test/teavm/src/main/webapp/index.html
  test/teavm/src/main/webapp/main.js
  test/teavm/src/teavm/java/com/github/renovatebot/Test.java
Due: prettier --write

ci: use `containerbase/internal-tools/setup` consitently
  .github/actions/setup-node/action.yml
  .github/workflows/build.yml
Due: none

ci: testing
  .github/workflows/build.yml
  lib/build.gradle.kts
  lib/src/main/java/com/github/renovatebot/Main.java
  test/teavm/wasm.js
Due: prettier --write

Notes added by 'git notes add'
  99ac638d7884355d1503e5c792bf09249ecf099e
Due: none

chore: build in parallel
  package.json
  pnpm-lock.yaml
Due: none

feat: add runtime helper functions
  index.d.ts
  index.js
Due: prettier --write

test: add tests and ensure full coverage
  index.js
  test/index.spec.ts
  vitest.config.js
Due: prettier --write

Notes added by 'git notes add'
  2cd0adfc4e325ecbe9e51903f6f30eef1937e5e5
Due: none

ci: split benchmark to separate job
  .github/workflows/build.yml
Due: none

docs: update readme
  README.md
Due: markdownlint-cli2 --fix, prettier --write

docs: update readme
  .markdownlint-cli2.jsonc
  README.md
Due: markdownlint-cli2 --fix, prettier --write

Notes added by 'git notes add'
  731ffd6b7e7b4c96fd4b8b279363ee8fb79ec77b
Due: none

Notes added by 'git notes add'
  425888bea985c4e0236048afd015a20d93d3ad01
Due: none

Notes added by 'git notes add'
  3184c763ca8f012b059d982543f36caf037a9be1
Due: none

ci: proper test result publishing
  .github/workflows/build.yml
Due: none

Notes added by 'git notes add'
  cc8d324cbd876631eaa5c6fef4a844fe1950730c
Due: none

Notes added by 'git notes add'
  28be9af239b332a85310379277add0226c18a001
Due: none

build: add `main` to `package.json`
  package.json
Due: none

feat: use dotnet v10 tfm
  dotnet/lib.csproj
  dotnet/packages.lock.json
  test/dotnet/lib.csproj
  test/dotnet/packages.lock.json
Due: none

Notes added by 'git notes add'
  629eb963d9d380d92d5d24f6c91d7fa3685056ef
Due: none

build: migrate to slnx
  pgp.sln
  pgp.slnx
Due: none

Notes added by 'git notes add'
  7d5bc26a6df8f71e1b28bef256542a073444b481
Due: none
